
.calendar{
    &_block{
        
        // margin: 0 auto;
        padding: 0.7em 0.9em;
        // display: flex;
        flex-direction: column;
        text-align: center;
    }
    &_date{
        font-size: 2rem;
    }
    &_weekDay{
        font-size: 1rem;
        color: rgba(0,0,0,0.5);
        line-height: 1.4rem;
        margin-top: 0.4em;
    } 
}

.all_day{
    display: flex;
    margin: 0 auto;
    width: 120ch;
}

.day_off{
    color:#F72F2F;
}

.arrow{
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
    cursor: pointer;

    &:before{
        display: none;
        content: '';
        position: absolute;
        left: 0%;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-left: -10px;
        margin-top: -10px;
        border: 1px solid #000;
        border-bottom: none;
        border-right: none;
        transform: rotate(-45deg);
    }

    &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: 5rem;
        width: 2rem;
        height: 2rem;
        margin-left: 1em;
        margin-top: -1em;
        border: 1px solid #000;
        border-bottom: none;
        border-right: none;
        transform: rotate(135deg);
    }
}