.slider{
    &__block{
        padding: 0.7em 0.9em;
        text-align: center;
        cursor: pointer;
    }
    &__date{
        font-size: 2rem;
    }
    &__currentDay{
        background-color: rgb(221, 220, 220);
        border-radius: 2em;
    }
    &__weekDay{
        font-size: 1rem;
        color: rgba(0,0,0,0.5);
        line-height: 1.4rem;
        margin-top: 0.4em;
    } 
    &__dayOff{
        color:#F72F2F;
    }
    &__days{
        width: 120ch;
        position: relative;
        left: 0;
        display: flex;
        transition: all ease 1s;
    }
    &__title{

    }
    &__content{
        position: relative;
        overflow: hidden;
    }
}

.arrow{
    position: relative;
    cursor: pointer;
    transition: all ease 1s;

    &__left:after, &__right:after{
        content: '';
        position: absolute;
        
        width: 1em;
        height: 1em;
        margin-top: -2.7em;
        border: 1px solid #000;
        border-bottom: none;
        border-right: none;
        background: #fff;
    }
    
    &__right:after{
        transform: rotate(135deg);
        right: -2em;
    }
    &__left{
        display: none;
        &:after{
            left: -2em;
            transform: rotate(-45deg);
        }
    }
}